<div class="login_mainContainer">
  <div class="login_container">
    <div class="">
      <h1>Create Password</h1>

      <div class="login_filed_container">
        <div class="inp_field">
          <input
            class="login_inp"
            type="{{ passwordType }}"
            name="password"
            id="password"
            placeholder="Enter Password*"
            #password
            [(ngModel)]="userPasswords.password"
            required
          />
          <img
            src="../../assets/icons/preview.svg"
            alt="preview password icon"
            (click)="togglePassword()"
          />
        </div>
      </div>

      <div class="login_filed_container">
        <div class="inp_field">
          <input
            class="login_inp"
            type="{{ rePasswordType }}"
            name="re_password"
            id="re_password"
            placeholder="Enter Re-Password*"
            #repassword
            [(ngModel)]="userPasswords.rePassword"
            required
          />
          <img
            src="../../assets/icons/preview.svg"
            alt="preview password icon"
            (click)="toggleRePassword()"
          />
        </div>
      </div>
    </div>

    <div class="login_button_container">
      <button (click)="registerMe()">Register My Account</button>
    </div>
  </div>
</div>
