<div class="single_main_header_component">
  <div class="main_component_title">Personal Information</div>
  <button
    class="main_edit_component"
    #editPersonalInformationContainerHash
    (click)="editPersonalInformationContainer()"
  >
    @if(isEditPersonalInformationReadOnly){
    <img src="../../assets/icons/edit.png" alt="edit icon" />
    <span>Edit</span>
    } @else{
    <img src="../../assets/icons/correct.png" alt="correct icon" />
    <span>Save</span>
    }
  </button>
</div>

<div class="single_main_component mb_24">
  <div class="user_image_container">
    @if(isEditPersonalInformationReadOnly){ @if(userInfo.avatarBase64 !== null
    && userInfo.avatarBase64.length !== 0 && userInfo.avatarName !== null &&
    userInfo.avatarName.length !== 0){
    <img [src]="userInfo.avatarBase64" [alt]="userInfo.avatarName" />
    } @else {
    <img src="../../assets/icons/account_circle.svg" alt="user image" />
    } } @else {
    <div class="user_picture_component">
      <input
        id="input_user_image"
        type="file"
        accept="image/*"
        (change)="showPreview($event)"
      />

      <label for="input_user_image" class="user_picture_component">
        @if(userInfo.avatarBase64 !== null && userInfo.avatarBase64.length !== 0
        && userInfo.avatarName !== null && userInfo.avatarName.length !== 0){

        <img
          class="display_image"
          [src]="userInfo.avatarBase64"
          [alt]="userInfo.avatarName"
        />

        } @else {

        <img
          class="display_image"
          src="../../assets/icons/account_circle.svg"
          alt="user image icon"
        />

        }
        <!-- --------------------------  -->
        @if(userInfo.avatarBase64 !== null && userInfo.avatarBase64.length !== 0
        && userInfo.avatarName !== null && userInfo.avatarName.length !== 0){

        <div class="user_picture_title">CHANGE {{ userInfo.avatarName }}</div>
        <div class="user_picture_info">Max. image size: 5 MB</div>

        } @else {

        <div class="user_picture_title">UPLOAD DISPLAY PICTURE</div>
        <div class="user_picture_info">Max. image size: 5 MB</div>

        }
      </label>
    </div>
    }
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >First Name</span
    >
    <input
      #firstName
      type="text"
      class="single_container_value"
      [readonly]="isEditPersonalInformationReadOnly"
      [(ngModel)]="userInfo.firstName"
    />
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Last Name</span
    >
    <input
      #lastName
      type="text"
      class="single_container_value"
      [readonly]="isEditPersonalInformationReadOnly"
      [(ngModel)]="userInfo.lastName"
    />
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience">Email</span>
    <input
      #email
      type="text"
      class="single_container_value"
      [readonly]="isEditPersonalInformationReadOnly"
      [(ngModel)]="userInfo.email"
    />
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Phone Number</span
    >
    <div class="phone_number_container">
      <div class="add_text">+</div>
      <input
        #countryCode
        class="country_code"
        type="number"
        [readonly]="isEditPersonalInformationReadOnly"
        [(ngModel)]="userInfo.countryCode"
        id="countryCode"
      />
      <input
        #phoneNumber
        class="phone_number"
        type="number"
        [readonly]="isEditPersonalInformationReadOnly"
        [(ngModel)]="userInfo.phoneNumber"
        id="phoneNumber"
      />
    </div>
  </div>

  <div class="single_input_container">
    <span class="resume_info_container">
      @if(isEditPersonalInformationReadOnly){
      <img
        src="../../assets/icons/Upload_black_24dp.svg"
        alt="Upload Resume icon"
      />
      <span> Upload Resume </span>
      <span>{{ userInfo.resumeName }}</span>
      } @else {
      <div class="upload_resume_container">
        <label class="input_file_label" for="input_file">
          <img
            src="../../assets/icons/Upload_black_24dp.svg"
            alt="Upload Resume icon"
          />
          <span> Upload Resume </span>
          <span>{{ userInfo.resumeName }}</span>
        </label>
        <input
          type="file"
          accept=".pdf"
          id="input_file"
          (change)="showResume($event)"
        />
      </div>
      }
    </span>
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Enter Portfolio URL (if any)</span
    >
    <input
      type="text"
      class="single_container_value"
      [readonly]="isEditPersonalInformationReadOnly"
      [(ngModel)]="userInfo.portfolio"
    />
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Preferred Job Roles</span
    >
    @if(isEditPersonalInformationReadOnly){
    <span class="checkbox_ticked_value_container">
      @for(jobRoleName of preferredJobRoles.JobRoleNames; track $index){
      @if(preferredJobRoles.values[$index]){

      <span>{{ preferredJobRoles.JobRoleNames[$index] | titlecase }}</span>

      } }
    </span>
    } @else { @for(jobRoleName of preferredJobRoles.JobRoleNames; track $index){
    <div class="checkbox_single_container">
      <input
        #preferredJobRolescheckbox
        [id]="preferredJobRoles.JobRoleNames[$index]"
        type="checkbox"
        [(ngModel)]="preferredJobRoles.values[$index]"
      />
      <label
        [for]="preferredJobRoles.JobRoleNames[$index]"
        class="normal_label"
        >{{ preferredJobRoles.JobRoleNames[$index] }}</label
      >
    </div>
    } }
  </div>

  <div class="single_input_container">
    <span class="single_container_title referral_title" for="yearsOfExperience">
      If You Are Registering Via A Referral, Please Mention Full Name Of The
      Employee Who Referred You
    </span>
    @if(isEditPersonalInformationReadOnly){
    <span class="single_container_value">
      @if(userInfo.referralName.length !== 0){
      {{ userInfo.referralName }}
      } @else { - }
    </span>
    } @else {
    <input
      type="text"
      class="single_container_value"
      [readonly]="isEditPersonalInformationReadOnly"
      [(ngModel)]="userInfo.referralName"
    />
    }
  </div>

  <div class="single_input_container">
    <div class="single_checkbox_container">
      <input
        type="checkbox"
        class=""
        [disabled]="isEditPersonalInformationReadOnly"
        [(ngModel)]="userInfo.jobRelatedUpdates"
      />
      <span class="single_container_title" for="yearsOfExperience"
        >Send me job related updates via mail</span
      >
    </div>
  </div>
</div>

<div class="single_main_header_component">
  <div class="main_component_title">Qualifications</div>
  <button
    #editQualificationsContainerHash
    class="main_edit_component"
    (click)="editQualificationsContainer()"
  >
    @if(isEditQualificationsReadOnly){
    <img src="../../assets/icons/edit.png" alt="edit icon" />
    <span>Edit</span>
    } @else{
    <img src="../../assets/icons/correct.png" alt="correct icon" />
    <span>Save</span>
    }
  </button>
</div>

<div class="dropDown">
  <span>Educational Qualifications</span>
</div>

<div class="single_main_component mb_24">
  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Aggregate Percentage</span
    >
    <input
      #aggregatePercentage
      type="number"
      class="w_small"
      [readonly]="isEditQualificationsReadOnly"
      [(ngModel)]="userEducationalQualifications.aggregatePercentage"
    />
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Year of Passing</span
    >
    @if(isEditQualificationsReadOnly){
    <input
      type="text"
      class="w_small"
      [readonly]="isEditQualificationsReadOnly"
      [(ngModel)]="userEducationalQualifications.passingYear"
    />
    } @else {
    <select
      #passingYear
      class="w_small"
      name="passingYear"
      id="passingYear"
      [(ngModel)]="userEducationalQualifications.passingYear"
    >
      @for(year of years; track $index){
      <option [value]="year">{{ year }}</option>
      }
    </select>
    }
  </div>

  <div class="double_container">
    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >Qualification</span
      >
      @if(isEditQualificationsReadOnly){ @for(qid of
      allQualifications.qualificationIds; track $index){
      @if(userEducationalQualifications.qualificationId?.toString() ===
      qid.toString() ){
      <span class="single_input_container">
        {{ allQualifications.qualificationNames[$index] }}
      </span>
      } } } @else {
      <select
        #qualification
        name="qualification"
        id="qualification"
        [(ngModel)]="userEducationalQualifications.qualificationId"
      >
        @for(qid of allQualifications.qualificationIds; track $index){
        <option [value]="qid">
          {{ allQualifications.qualificationNames[$index] }}
        </option>
        }
      </select>
      }
    </div>

    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience">Stream</span>
      @if(isEditQualificationsReadOnly){ @for(sid of allStreams.streamIds; track
      $index){ @if(userEducationalQualifications.streamId?.toString() ===
      sid.toString()){
      <span class="single_input_container">
        {{ allStreams.streamNames[$index] }}
      </span>
      } } } @else {
      <select
        #stream
        name="stream"
        id="stream"
        [(ngModel)]="userEducationalQualifications.streamId"
      >
        @for(sid of allStreams.streamIds; track $index){
        <option [value]="sid">
          {{ allStreams.streamNames[$index] }}
        </option>
        }
      </select>
      }
    </div>
  </div>

  <div class="double_container">
    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >College</span
      >
      @if(isEditQualificationsReadOnly){ @for(cid of allCollages.collageIds;
      track $index){ @if(userEducationalQualifications.collegeId?.toString() ===
      cid.toString()){
      <span class="single_input_container">
        {{ allCollages.collageNames[$index] }}
      </span>
      } } } @else {
      <select
        #collegeName
        name="collegeName"
        id="collegeName"
        [(ngModel)]="userEducationalQualifications.collegeId"
      >
        @for(cid of allCollages.collageIds; track $index){
        <option [value]="cid">
          {{ allCollages.collageNames[$index] }}
        </option>
        }
      </select>
      }
    </div>

    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >If others, please enter your college name</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="single_input_container">
        @if(userEducationalQualifications.otherCollageName !== null &&
        userEducationalQualifications.otherCollageName.length !== 0){
        {{ userEducationalQualifications.otherCollageName }}
        } @else {-}
      </span>
      } @else {
      <input
        class="pb_4"
        type="text"
        name="otherCollageName"
        id="otherCollageName"
        [readonly]="isEditQualificationsReadOnly"
        [(ngModel)]="userEducationalQualifications.otherCollageName"
      />
      }
    </div>
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Where is your college located?</span
    >
    <input
      #collageLocation
      class="w_small"
      type="text"
      name="collageLocation"
      id="collageLocation"
      [readonly]="isEditQualificationsReadOnly"
      [(ngModel)]="userEducationalQualifications.collageLocation"
    />
  </div>
</div>

<div class="dropDown">
  <span>Professional Qualifications</span>
</div>

<div class="single_main_component mb_8">
  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Applicant Type</span
    >
    <span class="single_container_value">
      @if(userProfessionalQualificationsVisible.isExperienced){ Experienced }
      @else { Fresher }
    </span>
  </div>
</div>

@if(userProfessionalQualificationsVisible.isExperienced){

<div class="single_main_component">
  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Years of Experience</span
    >
    <input
      #yearsOfExperience
      type="number"
      class="w_small"
      [readonly]="isEditQualificationsReadOnly"
      [(ngModel)]="userExperienced.yearsOfExperience"
    />
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Current CTC (In Rupees)</span
    >
    <input
      #currentCTC
      type="number"
      class="w_small"
      [readonly]="isEditQualificationsReadOnly"
      [(ngModel)]="userExperienced.currentCTC"
    />
  </div>

  <div class="single_input_container">
    <span class="single_container_title" for="yearsOfExperience"
      >Expected CTC (In Rupees)</span
    >
    <input
      #expectedCTC
      type="number"
      class="w_small"
      [readonly]="isEditQualificationsReadOnly"
      [(ngModel)]="userExperienced.expectedCTC"
    />
  </div>

  <div class="flex_16">
    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >Select All The Technologies You Expertise In</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="checkbox_ticked_value_container">
        @for(technology of expertiseTechnologies.technologyNames; track $index){
        @if(expertiseTechnologies.values[$index]){

        <span>{{ technology | titlecase }}</span>

        } }
      </span>
      } @else { @for(technology of expertiseTechnologies.technologyNames; track
      $index){
      <div class="single_checkbox_container">
        <input
          #expertiseTechnologiesHash
          type="checkbox"
          [id]="'e_' + technology"
          [(ngModel)]="expertiseTechnologies.values[$index]"
        />
        <label [for]="'e_' + technology">{{ technology }}</label>
      </div>
      } }
    </div>

    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >If others, please mention</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="single_container_value">
        @if(userExperienced.e_otherTechnologies !== null &&
        userExperienced.e_otherTechnologies.length !== 0){
        {{ userExperienced.e_otherTechnologies | titlecase }}
        } @else {-}
      </span>
      } @else {
      <input
        type="text"
        class="single_container_value"
        [readonly]="isEditQualificationsReadOnly"
        [(ngModel)]="userExperienced.e_otherTechnologies"
      />
      }
    </div>
  </div>

  <div class="flex_16">
    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >Select All The Technologies You are familiar In</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="checkbox_ticked_value_container">
        @for(technology of familiarTechnologies.technologyNames; track $index){
        @if(familiarTechnologies.values[$index]){

        <span>{{ technology | titlecase }}</span>

        } }
      </span>
      } @else { @for(technology of familiarTechnologies.technologyNames; track
      $index){
      <div class="single_checkbox_container">
        <input
          type="checkbox"
          [id]="'f_' + technology"
          [(ngModel)]="familiarTechnologies.values[$index]"
        />
        <label [for]="'f_' + technology">{{ technology }}</label>
      </div>
      } }
    </div>

    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >If others, please mention</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="single_container_value">
        @if(userExperienced.f_otherTechnologies !== null &&
        userExperienced.f_otherTechnologies.length !== 0){
        {{ userExperienced.f_otherTechnologies | titlecase }}
        } @else {-}
      </span>
      } @else {
      <input
        type="text"
        class="single_container_value"
        [readonly]="isEditQualificationsReadOnly"
        [(ngModel)]="userExperienced.f_otherTechnologies"
      />
      }
    </div>
  </div>

  <div class="flex_16">
    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >Are you currently on notice period?</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="single_container_value">
        @if(userExperienced.isInNoticePeriod){Yes} @else {No}
      </span>
      } @else {
      <div class="radio_container">
        <div class="radio_container_options">
          <div class="single_radio_container">
            <input
              #isInNoticePeriod
              type="radio"
              name="isInNoticePeriod"
              [value]="true"
              [(ngModel)]="userExperienced.isInNoticePeriod"
            />
            <label for="isInNoticePeriod">Yes</label>
          </div>

          <div class="single_radio_container">
            <input
              type="radio"
              name="isInNoticePeriod"
              [value]="false"
              [(ngModel)]="userExperienced.isInNoticePeriod"
            />
            <label for="isInNoticePeriod">No</label>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="double_container">
      <div class="single_input_container">
        <span class="single_container_title" for="yearsOfExperience"
          >If Yes, when will your notice period end?</span
        >

        @if(isEditQualificationsReadOnly){

        <span class="single_container_value">
          {{ userExperienced.noticePeriodEnd | date : "dd-MMM-yyyy" }}
        </span>

        } @else {

        <input
          #noticePeriodEnd
          type="date"
          id="noticePeriodEnd"
          [readonly]="isEditQualificationsReadOnly"
          [(ngModel)]="userExperienced.noticePeriodEnd"
        />

        }
      </div>

      <div class="single_input_container">
        <span class="single_container_title" for="yearsOfExperience"
          >How long is your notice period? (Mention in months)</span
        >
        @if(isEditQualificationsReadOnly){
        <span class="single_container_value">
          {{ userExperienced.noticePeriodLength }} Months
        </span>
        } @else {
        <select
          #noticePeriodLength
          name="noticePeriodLength"
          id="noticePeriodLength"
          [(ngModel)]="userExperienced.noticePeriodLength"
        >
          <option value="0">0 months</option>
          <option value="1">1 months</option>
          <option value="2">2 months</option>
          <option value="3">3 months</option>
        </select>
        }
      </div>
    </div>
  </div>

  <div class="flex_16">
    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >Have You Appeared For Any Test By Zeus in the past 12 months?</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="single_container_value">
        @if(userExperienced.isAppearedInTestByZeus){Yes} @else {No}
      </span>
      } @else {
      <div class="radio_container">
        <div class="radio_container_options">
          <div class="single_radio_container">
            <input
              #exp_isAppearedInTestByZeus
              type="radio"
              name="isAppearedInTestByZeus"
              id="isAppearedInTestByZeus_yes"
              [value]="true"
              [(ngModel)]="userFresher.isAppearedInTestByZeus"
            />
            <label for="isAppearedInTestByZeus_yes">Yes</label>
          </div>

          <div class="single_radio_container">
            <input
              type="radio"
              name="isAppearedInTestByZeus"
              id="isAppearedInTestByZeus_no"
              [value]="false"
              [(ngModel)]="userExperienced.isAppearedInTestByZeus"
            />
            <label for="isAppearedInTestByZeus_no">No</label>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >If Yes, which role did you apply for?</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="single_container_value">
        @if(userExperienced.appearedRoleName !== null &&
        userExperienced.appearedRoleName.length !== 0){
        {{ userExperienced.appearedRoleName | titlecase }}
        } @else {-}
      </span>
      } @else {
      <input
        exp_appearedRoleName
        class="single_container_value"
        type="text"
        name="appearedRoleName"
        id="appearedRoleName"
        [readonly]="isEditQualificationsReadOnly"
        [(ngModel)]="userExperienced.appearedRoleName"
      />
      }
    </div>
  </div>
</div>

} @else {

<div class="single_main_component">
  <div class="flex_16">
    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >Select All The Technologies You are familiar In</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="checkbox_ticked_value_container">
        @for(technology of familiarTechnologies.technologyNames; track $index){
        @if(familiarTechnologies.values[$index]){

        <span>{{ technology | titlecase }}</span>

        } }
      </span>
      } @else { @for(technology of familiarTechnologies.technologyNames; track
      $index){
      <div class="single_checkbox_container">
        <input
          type="checkbox"
          [id]="technology"
          [(ngModel)]="familiarTechnologies.values[$index]"
        />
        <label [for]="technology">{{ technology }}</label>
      </div>
      } }
    </div>

    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >If others, please mention</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="single_container_value">
        @if(userFresher.otherTechnologies !== null &&
        userFresher.otherTechnologies.length !== 0){
        {{ userFresher.otherTechnologies | titlecase }}
        } @else {-}
      </span>
      } @else {
      <input
        type="text"
        class="single_container_value"
        [readonly]="isEditQualificationsReadOnly"
        [(ngModel)]="userFresher.otherTechnologies"
      />
      }
    </div>
  </div>

  <div class="flex_16">
    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >Have You Appeared For Any Test By Zeus in the past 12 months?</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="single_container_value">
        @if(userFresher.isAppearedInTestByZeus){Yes} @else {No}
      </span>
      } @else {

      <div class="radio_container">
        <div class="radio_container_options">
          <div class="single_radio_container">
            <input
              #fre_isAppearedInTestByZeus
              type="radio"
              name="isAppearedInTestByZeus"
              id="isAppearedInTestByZeus_yes"
              [value]="true"
              [(ngModel)]="userFresher.isAppearedInTestByZeus"
            />
            <label for="isAppearedInTestByZeus_yes">Yes</label>
          </div>

          <div class="single_radio_container">
            <input
              type="radio"
              name="isAppearedInTestByZeus"
              id="isAppearedInTestByZeus_no"
              [value]="false"
              [(ngModel)]="userFresher.isAppearedInTestByZeus"
            />
            <label for="isAppearedInTestByZeus_no">No</label>
          </div>
        </div>
      </div>

      }
    </div>

    <div class="single_input_container">
      <span class="single_container_title" for="yearsOfExperience"
        >If Yes, which role did you apply for?</span
      >
      @if(isEditQualificationsReadOnly){
      <span class="single_container_value">
        @if(userFresher.appearedRoleName !== null &&
        userFresher.appearedRoleName.length !== 0){
        {{ userFresher.appearedRoleName }}
        } @else {-}
      </span>
      } @else {
      <input
        #fre_appearedRoleName
        type="text"
        class="single_container_value"
        [readonly]="isEditQualificationsReadOnly"
        [(ngModel)]="userFresher.appearedRoleName"
      />
      }
    </div>
  </div>
</div>

}

<div class="step_moving_btn">
  <button
    class="next_previous_btn"
    (click)="onSubmit('PREVIOUS')"
    type="submit"
  >
    PREVIOUS
  </button>
</div>
