@import "../../scss/functions";
@import "../../scss/variables";

.single_main_header_component {
  @include displayFlex(space-between, center);
  margin: 0px 0px 24px 0px;
  .main_edit_component {
    border: none;
    cursor: pointer;
    font-family: quicksand;
    font-weight: 600;
    font-size: $base-font + px;
    @include displayFlex(normal, center);
    gap: 9px;
    color: $secondary-color;

    img {
      height: 18px;
      width: 18px;
    }
  }
  .highlighted {
    border: 2px solid red;
    border-radius: 2px;
  }
}

// .dropDown {
//   background-color: $section-header-color;
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
//   height: 56px;
//   @include displayFlex(space-between, center);

//   > span {
//     margin-left: 16px;
//   }
// }

.mb_24 {
  margin-bottom: 24px;
}

.mb_8 {
  margin-bottom: 8px;
}

.pb_4 {
  font-size: $base-font + px;
  padding-bottom: 4px;
}

input {
  border: 0px;
  border-bottom: 1px solid $border-38-color;
  font-family: quicksand;
  font-weight: 600;
  font-size: $base-font + px;
}
input:focus {
  outline: none;
}
input[type="date"]:focus-visible,
input[type="date"]:focus {
  outline: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  width: 18px;
  height: 24px;
  margin: 0px;
  accent-color: $secondary-color;
}

.phone_number_container {
  @include displayFlex(normal, center);
  gap: 4px;

  .add_text {
    width: 9px;
    height: 20px;
  }

  .country_code {
    width: 22px;
    font-size: $base-font + px;
    padding-bottom: 4px;
  }

  .country_code:read-only,
  .phone_number:read-only {
    border: none;
  }

  .phone_number {
    width: 95px;
    font-size: $base-font + px;
    padding-bottom: 4px;
  }
}

.checkbox_single_container {
  @include displayFlex(normal, center);
  gap: 9px;

  .normal_label {
    color: $primary-color;
    font-size: $base-font + px;
  }
}

.user_picture_component {
  position: absolute;
  width: 150px;
  top: 0px;
  right: 0px;
  text-align: center;

  #input_user_image {
    display: none;
  }

  .display_image {
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 50%;
  }

  .user_picture_title {
    font-size: $xsmall-font + px;
    color: $secondary-color;
    margin: 16px 0px 8px;
  }

  .user_picture_info {
    color: $fifth-color;
    font-size: $xxsmall-font + px;
  }
}

.w_small {
  padding-bottom: 4px;
  font-size: $base-font + px;
  width: 180px;
  color: $primary-color;
}
.w_small:read-only {
  border: none;
  font-size: $base-font + px;
}

.single_main_component {
  background-color: $white-color;
  padding: 24px;
  @include displayFlex(center, normal);
  flex-direction: column;
  gap: 40px;
  position: relative;

  .user_image_container {
    position: absolute;
    top: 24px;
    right: 24px;

    img {
      width: 112px;
      height: 112px;
      border-radius: 50%;
    }
  }

  .double_container {
    @include displayFlex(normal, normal);
    gap: 24px;

    .single_input_container {
      flex: 1;
    }
    // input:focus {
    //   outline: none;
    // }
  }

  .flex_16 {
    @include displayFlex(normal, normal);
    flex-direction: column;
    gap: 16px;
  }

  .single_input_container {
    @include displayFlex(center, normal);
    flex-direction: column;
    gap: 12px;

    .single_container_title {
      font-size: $xsmall-font + px;
      color: $sixth-color;
    }

    .single_container_value {
      padding-bottom: 4px;
      font-size: $base-font + px;
      width: 480px;
      color: $primary-color;
    }
    .single_container_value:read-only {
      border: none;
      font-size: $base-font + px;
    }

    .single_container_value:read-only:focus {
      outline: none;
    }

    .resume_info_container {
      @include displayFlex(normal, center);
      gap: 8px;

      .resume_container_title {
        font-size: $small-font + px;
      }

      > img {
        width: 14px;
        height: 24px;
        object-fit: cover;
      }

      .upload_resume_container {
        span {
          color: $secondary-color;
          font-size: $small-font + px;
        }

        .input_file_label {
          @include displayFlex(normal, center);
          gap: 8px;
          font-size: $base-font + px;
          color: $secondary-color;

          > img {
            width: 14px;
            height: 24px;
            object-fit: cover;
          }

          span {
            font-size: $base-font + px;
          }
        }

        #input_file {
          display: none;
        }

        #input_file::-webkit-file-upload-button {
          background-color: $white-color;
          border: none;
        }
      }
    }

    .checkbox_ticked_value_container {
      @include displayFlex(center, normal);
      flex-direction: column;
      gap: 16px;
    }

    .referral_title {
      letter-spacing: 0.3px;
      width: 480px;
    }

    .single_checkbox_container {
      @include displayFlex(normal, center);
      gap: 8px;
    }

    select {
      border: 0px;
      border-bottom: 1px solid $border-38-color;
      padding-bottom: 4px;
      font-size: $base-font + px;
      font-family: quicksand;
      font-weight: 600;
    }

    .radio_container {
      .radio_container_options {
        @include displayFlex(normal, center);
        gap: 24px;

        .single_radio_container {
          @include displayFlex(normal, center);
          gap: 8px;

          input[type="radio"] {
            width: 20px;
            height: 24px;
            accent-color: $secondary-color;
            margin: 0px;
          }
        }
      }
    }

    // -------------single_input_container end here---------------
  }
}
