$main-background-color: rgba(238, 238, 238, 1);
$header-background-color: rgba(37, 49, 63, 1);
$button-background-color: rgba(63, 210, 139, 1);
$disable-button-background-color: rgba(31, 40, 52, 1);

$primary-color: rgba(34, 34, 34, 1);
$secondary-color: rgba(31, 122, 84, 1);
$fourth-color: rgba(60, 78, 98, 1);

$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(0, 0, 0, 1);

$border-color: rgba(58, 199, 236, 1);
$border-dark-color: rgba(0, 0, 0, 0.12);
